@font-face {
  font-family: 'Ruda';
  font-display: swap;
  font-weight: 550;
  src: url('Ruda-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Ruda';
  font-display: swap;
  font-weight: 400;
  src: url('Ruda-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Ruda';
  font-display: swap;
  font-weight: 500;
  src: url('Ruda-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Ruda';
  font-display: swap;
  font-weight: 700;
  src: url('Ruda-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Ruda';
  font-display: swap;
  font-weight: 600;
  src: url('Ruda-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Ruda';
  font-display: swap;
  font-weight: 800;
  src: url('Ruda-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
}


@font-face {
  font-family: 'Organetto';
  font-display: swap;
  font-weight: 300;
  src: url('Organetto-LightUltraCnd.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Pirata One';
  font-display: swap;
  font-weight: 400;
  src: url('PirataOne-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Canela';
  font-display: swap;
  font-weight: 500;
  src: url('Canela-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}